@import 'mixins';
@font-face {
    font-family: "Roboto";
    src: url(/Assets/Roboto/Roboto-Regular.ttf);
    
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    
}

.navbar {
    background-color: #323232;
    text-decoration: none;
    color: gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 5em;
    width: 100%;

    @include tablet {
        justify-content: flex-start;
        align-items: center;
    }

}

.navbarLogo {
    background-image: url("/Assets/Logo/Logo-bandsite\ copy.svg");
    background-repeat: no-repeat;
    width: 9em;
    height: 2em;
    justify-self: center;
    margin-top: 16px;
    padding: 0em;

    @include tablet {
        justify-self: flex-start;
        margin: 2em;
    }
}

.--active {
    border-bottom: 3.9px solid white;
    color: white;
    width: 50%;
    font-weight: bold;

    @include tablet {
        padding-bottom: 4.5%;
        // padding-top: 3%;
    }
}
.navbarPagesList {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    // justify-content: center;
    margin: 1px;
    text-align: center;

    @include tablet {
        width: 70%;
        display: flex;
        align-content: center;
        justify-content: flex-start;
        padding-top: 2.2%;
        margin-right: 2.5%;
    }
}

.navbarPagesListPage {
    width: 50%;

        @include tablet {
            width: 20%;
        }
}

.hero {
    display: flex;
    flex-direction: column;
    background-image: url("/Assets/Images/hero--aditya-chinchure-9tZhyQskezA-unsplash.jpg");
    width: 100%;
    height: 11.5em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: center;
    align-content: center;
    
    @include tablet {
        height: 25em;
    }
}


.heroArtistNames {
    font-size: 1.8em;
    font-weight: bold;
    color: white;
    margin: 1em;

    @include tablet {
        font-size: 3.75em;
        margin-left: 0.5em;
        width: 85%;
    }
}

.about {
    margin: 0px 16px 0px;
}

.aboutTitle {
    font-size: 1.5em;
    font-weight: bolder;
    margin: 32px 0px 24px;

    @include tablet {
        font-size: 2.25em;
        font-weight: bolder;
    }

}

.aboutPicture {
    background-image: url("/Assets/Images/artists--karl-jk-hedin-z2TsYiSSv1s-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

        height: 10.125em;
        margin: 0em 0em 1em;
        width: 18em;

        @include mobile {
            width: 100%;
        }

        @include tablet {
            width: 100%;
            height: 22.6em;
        }

        @include desktop {
            width: 100%;
        }

}

.aboutArtistQuote {
    font-size: 1em;
    margin-top: 24px;
    font-weight: bold;
    line-height: 1.5em;

    @include tablet {
        font-size: 1.5em;
        width: 90%;
    }
}

.aboutArtistQuoteName {
    font-size: 1em;
    margin-top: 32px;
    font-weight: bold;

    @include tablet {
        font-size: 1em;
    }
}

.aboutParagrphTitle {
    font-size: 1em;
    margin-top: 40px;
    font-weight: bold;
    line-height: 1.5em;

    @include tablet {
        font-size: 1.5em;
        font-weight: bold;
    }
}

.aboutParagraphs {
    width: 100%;

    @include tablet {
        // width: 35%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       
    }
}
.aboutParagraphOne {
    font-size: 13px;
    margin-top: 24px;
    font-weight: normal;
    line-height: 18px;

    @include tablet {
        width: 47%;
        font-weight: lighter;
        font-size: 0.9em;
        line-height: 1.5em;
    }


}

.aboutParagraphTwo {
    font-size: 13px;
    margin-top: 24px;
    margin-bottom: 40px;
    font-weight: normal;
    line-height: 18px;

    @include tablet {
        width: 47%;
        font-weight: lighter;
        font-size: 0.9em;
        line-height: 1.5em;
        margin-left: 1.5em;
    }
}

.photoGalleryTitle {
    display: flex;
    align-self: start;
    font-size: 1.5em;
    font-weight: bold;
    margin: 2em 0em 1.5em;

    @include tablet {
        font-size: 2.2em;
        width: 100%;
    }
}

.photoGallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;

    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    @include desktop {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    &__pic {
        height: 10.125em;
        margin: 0em 0em 1em;
        width: 18em;

        @include mobile {
            width: 100%;
        }

        @include tablet {
            width: 14em;
            height: 7.8em;
        }

        @include desktop {
            width: 30%;
        }
    }
}

.One {
    background-image: url(/Assets/Images/Photo-gallery-1.jpg);
    @include photos;
}

.Two {
    background-image: url(/Assets/Images/Photo-gallery-2.jpg);
    @include photos;

}

.Three {
    background-image: url(/Assets/Images/Photo-gallery-3.jpg);
    @include photos;

}

.Four {
    background-image: url(/Assets/Images/Photo-gallery-4.jpg);
    @include photos;

}

.Five {
    background-image: url(/Assets/Images/Photo-gallery-5.jpg);
    @include photos;

}

.Six {
    background-image: url(/Assets/Images/Photo-gallery-6.jpg);
    @include photos;

}

.Seven {
    background-image: url(/Assets/Images/Photo-gallery-7.jpg);
    @include photos;

}

.Eight {
    background-image: url(/Assets/Images/Photo-gallery-8.jpg);
    @include photos;

}

.Nine {
    background-image: url(/Assets/Images/Photo-gallery-9.jpg);
    @include photos;

}

.footer {
    background-color: #323232;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0em;
    width: 100%;
    line-height: 1.1em;

    @include tablet {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
}

.footerTitle {
    font-size: 1.5em;
    font-weight: bolder;
    line-height: 2em;
    margin: 1em;

    @include tablet {
        font-size: 2.2em;
        width: 35%;
    }
}

.footerSocialSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1em 1em 1em;

    @include tablet {
        width: 25%;
        margin-top: 1.5em;
        align-self: center;
    }


    &__block {
        @include tablet {
            width: 30%;
        }
    }
}

.instagram {
    background-image: url(/assets/Icons/SVG/Icon-instagram.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5em;
    height: 1.5em;
}

.facebook {
    background-image: url(/assets/Icons/SVG/Icon-facebook.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5em;
    height: 1.5em;
    
}

.twitter {
    background-image: url(/assets/Icons/SVG/Icon-twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5em;
    height: 1.5em;
    
}

.footerCompanyLogo {
   width: 1em;
   height: auto;
   background-image: url("/Assets/Logo/Logo-bandsite\ copy.svg");
   background-repeat: no-repeat;
    width: 9em;
    height: 2em;
    justify-self: center;
    margin-top: 16px;
    padding: 0em;
   
   @include mobile {
       display: none;
   }

   @include tablet {
       display: flex;
       width: 25%;
       align-self: center;
   }

   @include desktop {
       display: flex;
   }
}

.footerInformationSection {
    margin: 1em;
    font-size: 0.8em;
    line-height: 1.2em;

    @include tablet {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        font-size: 0.8em;
        line-height: 2.0em;
        margin: 0em 0em 1.5em 1.5em;
    }
}

.footerInformationSectionName {
    font-size: 1.2em;
    font-weight: bold;
}

.footerInformationSectionCompany {
    font-size: 1.2em;
    font-weight: bold;

   
}

.footerInformationSectionCompanyAddress {

    @include tablet {
        width: 65%;
    }
}

.footerCopyright {
    margin: 1em;

    @include tablet {
        justify-self: flex-end;
        align-self: start;
        margin: 0em 20em 1em 1.5em;
        width: 100%;
    }
}