@font-face {
  font-family: "Avenir";
  src: url(/Assets/_Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: "Roboto";
  src: url(/Assets/Roboto/Roboto-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Avenir;
}

.navbar {
  background-color: #323232;
  text-decoration: none;
  color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5rem;
  width: 100%;
}

@media (min-width: 768px) {
  .navbar {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 4.5rem;
  }
}

@media (min-width: 1200px) {
  .navbar {
    height: 4.2rem;
  }
}

.navbar__Logo {
  background-image: url("/Assets/Logo/Logo-bandsite copy.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 2rem;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0.5rem 0rem 0.5rem 0rem;
  padding: 0rem;
}

@media (min-width: 768px) {
  .navbar__Logo {
    justify-self: flex-start;
    margin: 1.9rem 1.5rem 1rem;
  }
}

@media (min-width: 1200px) {
  .navbar__Logo {
    margin: 1.5rem 1rem 1rem 9.5rem;
    width: 7rem;
    height: 1.2rem;
    background-size: 90%;
  }
}

.navbar__pages-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1px;
  text-align: center;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .navbar__pages-list {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 3.3%;
    margin-right: 2.5%;
  }
}

@media (min-width: 1200px) {
  .navbar__pages-list {
    font-size: 0.72em;
    margin: 0rem 0rem 0rem 0.9rem;
    width: 65%;
    padding: 2.9rem 0rem 0rem 0rem;
  }
}

.navbar__page {
  width: 50%;
}

.navbar--active {
  border-bottom: 3.9px solid white;
  color: white;
  width: 50%;
  font-weight: bold;
}

@media (min-width: 768px) {
  .navbar--active {
    padding-bottom: 3.9%;
  }
}

@media (min-width: 1200px) {
  .navbar--active {
    padding-bottom: 1.5rem;
    width: 0.5rem;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("/Assets/Images/austin-edwards-QcO0TNNoqig-unsplash.jpg");
  background-color: rgba(50, 50, 50, 0.5);
  width: 100%;
  height: 29rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 220%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (min-width: 768px) {
  .hero {
    height: 22.6rem;
  }
}

@media (min-width: 1200px) {
  .hero {
    height: 34.5rem;
  }
}

.hero__TextOne {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  margin: 1rem;
}

@media (min-width: 320px) {
  .hero__TextOne {
    margin: 1.3rem 0.5rem 0.8rem;
    font-size: 0.8rem;
    width: 69%;
    line-height: 1.8rem;
  }
}

@media (min-width: 768px) {
  .hero__TextOne {
    font-size: 3.75rem;
    margin: 1rem 0.4rem 1rem;
    width: 85%;
  }
}

@media (min-width: 1200px) {
  .hero__TextOne {
    margin: -1rem 0rem 0rem 2.5rem;
    width: 45%;
    font-size: 3.3rem;
  }
}

.hero__TextTwo {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  margin: 1rem;
}

@media (min-width: 320px) {
  .hero__TextTwo {
    margin: 0rem 0.5rem 1rem;
    font-size: 2.2rem;
    width: 89%;
    line-height: 3rem;
  }
}

@media (min-width: 768px) {
  .hero__TextTwo {
    font-size: 3.75rem;
    margin: 1rem 0.4rem 1rem;
    width: 85%;
  }
}

@media (min-width: 1200px) {
  .hero__TextTwo {
    margin: -1rem 0rem 0rem 2.5rem;
    width: 45%;
    font-size: 3.3rem;
  }
}

.hero__song {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.show {
  width: 100%;
  min-height: 20rem;
  height: auto;
  color: lightskyblue;
  margin: 0rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.show__title {
  font-weight: bold;
  font-size: 3rem;
}

.show__container {
  width: 100%;
  height: 18rem;
  background-color: lightseagreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 5rem;
  font-size: 1.5rem;
  font-weight: bolder;
  color: lightpink;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.show__container__date2 {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid skyblue;
}

.footer {
  background-color: #323232;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0rem;
  width: 100%;
  line-height: 1.1rem;
}

.footer__topFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (min-width: 320px) {
  .footer__topFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) {
  .footer__topFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .footer__topFooter {
    width: 100%;
    margin: 0rem 0rem 0rem 7.7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__topFooter__Title {
  font-size: 1.5rem;
  font-weight: bolder;
  line-height: 2rem;
  margin: 1rem;
}

@media (min-width: 320px) {
  .footer__topFooter__Title {
    margin: 1rem 0rem 0rem 0.8rem;
    font-size: 2.2rem;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .footer__topFooter__Title {
    font-size: 2.25rem;
    width: 29%;
    margin: 1rem 0rem 0.4rem 0.7rem;
  }
}

@media (min-width: 1200px) {
  .footer__topFooter__Title {
    font-size: 2rem;
    margin-right: -0.3rem;
    margin-left: 2rem;
  }
}

.footer__topFooter__SocialSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 1rem 1rem 1rem;
}

@media (min-width: 320px) {
  .footer__topFooter__SocialSection {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .footer__topFooter__SocialSection {
    width: 25%;
    margin: 1.5rem 1.8rem 1rem;
    padding: 0rem;
    -ms-flex-item-align: center;
        align-self: center;
    justify-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 1200px) {
  .footer__topFooter__SocialSection {
    margin: 0.9rem 0rem 0rem -11rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    justify-items: center;
  }
}

@media (min-width: 768px) {
  .footer__topFooter__SocialSection__block {
    width: 30%;
  }
}

.footer__topFooter__instagram {
  background-repeat: no-repeat;
  background-position: center;
  width: 1.5rem;
  height: 1.5rem;
}

@media (min-width: 1200px) {
  .footer__topFooter__instagram {
    margin-right: -3rem;
    padding: 0rem;
    width: 1.09rem;
    height: 1.09rem;
  }
}

.footer__topFooter__facebook {
  background-image: url(/assets/Icons/SVG/Icon-facebook.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 1.5rem;
  height: 1.5rem;
}

@media (min-width: 1200px) {
  .footer__topFooter__facebook {
    margin: 0rem;
    padding: 0rem;
    width: 0.7rem;
    height: 1.5rem;
  }
}

.footer__topFooter__twitter {
  background-image: url(/assets/Icons/SVG/Icon-twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 1.5rem;
  height: 1.5rem;
}

@media (min-width: 1200px) {
  .footer__topFooter__twitter {
    margin: 0rem;
    padding: 0rem;
    size: 15%;
  }
}

.footer__topFooter__companyLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: self-end;
  margin: 0rem 0rem 0rem 8.2rem;
  padding: 0rem;
}

@media (min-width: 320px) {
  .footer__topFooter__companyLogo {
    display: none;
  }
}

@media (min-width: 768px) {
  .footer__topFooter__companyLogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .footer__topFooter__companyLogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: self-end;
    margin-left: 20rem;
  }
}

.footerInformationSection {
  margin: 1rem;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

@media (min-width: 320px) {
  .footerInformationSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin: 0rem 0rem 1.5rem 0.9rem;
  }
}

@media (min-width: 768px) {
  .footerInformationSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    font-size: 0.8rem;
    line-height: 1.8rem;
    margin: 0rem 0rem 1rem 1.5rem;
  }
}

@media (min-width: 1200px) {
  .footerInformationSection {
    margin: 0rem 0rem 0rem 13.2rem;
    font-size: 0.7rem;
  }
}

@media (min-width: 768px) {
  .__block {
    width: 32.1%;
    margin: 0rem 0rem 0rem 0.7rem;
  }
}

@media (min-width: 1200px) {
  .__block {
    width: 20%;
  }
}

.footerInformationSectionName {
  font-size: 1.2rem;
  font-weight: bold;
}

@media (min-width: 320px) {
  .footerInformationSectionName {
    font-size: 1.1rem;
    margin: 1rem 0rem 0rem 0rem;
  }
}

.footerInformationSectionCompany {
  font-size: 1.2rem;
  font-weight: bold;
}

@media (min-width: 320px) {
  .footerInformationSectionCompany {
    font-size: 1.1rem;
  }
}

@media (min-width: 320px) {
  .footerInformationSectionCompanyAddress {
    width: 50%;
    margin: 1rem 0rem 1rem;
    font-size: 0.98rem;
  }
}

@media (min-width: 768px) {
  .footerInformationSectionCompanyAddress {
    width: 70%;
    margin: 1rem 0rem 1rem;
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
}

.footerCopyright {
  margin: 1rem;
}

@media (min-width: 320px) {
  .footerCopyright {
    font-size: 0.8rem;
    width: 65%;
    margin: 0rem 0.9rem 2rem;
  }
}

@media (min-width: 768px) {
  .footerCopyright {
    justify-self: flex-end;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    margin: 1rem 20rem 2.5rem 1.5rem;
    width: 100%;
    font-size: 0.9rem;
  }
}

@media (min-width: 1200px) {
  .footerCopyright {
    margin-top: 1.5rem;
    margin-left: 9.7rem;
    font-size: 0.7rem;
  }
}
/*# sourceMappingURL=shows.css.map */