@import 'mixins';
@font-face {
    font-family: "Avenir";
    src: url(/Assets/_Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf)
}
@font-face{
    font-family: "Roboto";
    src: url(/Assets/Roboto/Roboto-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Avenir;
    
}

.navbar {
    background-color: #323232;
    text-decoration: none;
    color: gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 5rem;
    width: 100%;

    @include tablet {
        justify-content: flex-start;
        align-items: center;
        height: 4.5rem;
    }

    @include desktop {
        height: 4.2rem;
    }

    &__Logo {
        background-image: url("/Assets/Logo/Logo-bandsite\ copy.svg");
        background-repeat: no-repeat;
        background-position: center;       
        width: 100%;
        height: 2rem;
        justify-self: center;
        margin: 0.5rem 0rem 0.5rem 0rem;
        padding: 0rem;
    
        @include tablet {
            justify-self: flex-start;
            margin: 1.9rem 1.5rem 1rem;   
         
        }
    
        @include desktop {
            margin: 1.5rem 1rem 1rem 9.5rem;
            width: 7rem;
            height: 1.2rem;
            background-size: 90%;
        }
    }

    &__pages-list {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        // justify-content: center;
        margin: 1px;
        text-align: center;
        font-size: 0.8rem;
    
        @include tablet {
            width: 70%;
            display: flex;
            align-content: center;
            justify-content: flex-start;
            padding-top: 3.3%;
            margin-right: 2.5%;
        }
    
        @include desktop {
            font-size: 0.72em;
            margin: 0rem 0rem 0rem 0.9rem;
            width: 65%;
            padding: 2.9rem 0rem 0rem 0rem;
        }
    

    }

    
    &__page {

        width: 50%;

        
    }

    &--active {
        border-bottom: 3.9px solid white;
        color: white;
        width: 50%;
        font-weight: bold;
    
        @include tablet {
            padding-bottom: 3.9%;
            // padding-top: 3%;
        }
    
        @include desktop {
            padding-bottom: 1.5rem;
            width: 0.5rem;
        }
    }



}






.hero {
    display: flex;
    flex-direction: column;
    background-image: url("/Assets/Images/austin-edwards-QcO0TNNoqig-unsplash.jpg");
    background-color: rgba(50, 50, 50, 0.5);
    width: 100%;
    height: 29rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 220%;
    justify-content: center;
    align-content: center;
    
    @include tablet {
        height: 22.6rem;
    }

    @include desktop {
        height: 34.5rem;
    }

    &__TextOne {
        font-size: 1.8rem;
        font-weight: bold;
        color: white;
        margin: 1rem;
    
        @include mobile {
            margin: 1.3rem 0.5rem 0.8rem;
            font-size: 0.8rem;
            width: 69%;
            line-height: 1.8rem;
            
        }
    
        @include tablet {
            font-size: 3.75rem;
            margin: 1rem 0.4rem 1rem;        
            width: 85%;
        }
    
        @include desktop {
            margin: -1rem 0rem 0rem 2.5rem;
            width: 45%;
            font-size: 3.3rem;
        }
    }

    &__TextTwo {
        font-size: 1.8rem;
        font-weight: bold;
        color: white;
        margin: 1rem;
    
        @include mobile {
            margin: 0rem 0.5rem 1rem;
            font-size: 2.2rem;
            width: 89%;
            line-height: 3rem;
        }
    
        @include tablet {
            font-size: 3.75rem;
            margin: 1rem 0.4rem 1rem;        
            width: 85%;
        }
    
        @include desktop {
            margin: -1rem 0rem 0rem 2.5rem;
            width: 45%;
            font-size: 3.3rem;
        }
    }

    &__song {
        width: 90%;
        // height: 0.5rem;
        display: flex;
        justify-self: center;
        align-self: center;
        
        
    }

}


.show {
    width: 100%;
    min-height: 20rem;
    height: auto;
    color: lightskyblue;
    margin: 0rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;


    &__title{
    font-weight: bold;
    font-size: 3rem;
        }

    // &__table{
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: center;
    // }

    &__container{
        width: 100%;
        height: 18rem;
        background-color: lightseagreen;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 5rem;

        font-size: 1.5rem;
        font-weight: bolder;
        color: lightpink;

        display: flex;
        flex-direction: column;

        &__date2{
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            border-bottom: 3px solid skyblue;
        }


    }
    

}










.footer {
    background-color: #323232;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0rem;
    width: 100%;
    line-height: 1.1rem;

    &__topFooter {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        // width: 100%;
        width: 100%;
        justify-content: flex-start;

        @include mobile {
            display: flex;
            flex-direction: column;
        }


        @include tablet {
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        @include desktop {
            width: 100%;
            margin: 0rem 0rem 0rem 7.7rem;
            display: flex;
            flex-direction: row;
        }
        
        &__Title {
            font-size: 1.5rem;
            font-weight: bolder;
            line-height: 2rem;
            margin: 1rem;
        
            @include mobile {
                margin: 1rem 0rem 0rem 0.8rem;
                font-size: 2.2rem;
                width: 100%;
            }
        
            @include tablet {
                font-size: 2.25rem;
                width: 29%;
                margin: 1rem 0rem 0.4rem 0.7rem;
            }

            @include desktop {
                font-size: 2rem;
                margin-right: -0.3rem;
                margin-left: 2rem;
            }
        }


        &__SocialSection {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin: 1rem 1rem 1rem;
        
            @include mobile {
                width: 50%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        
            @include tablet {
                width: 25%;
                margin: 1.5rem 1.8rem 1rem;
                padding: 0rem;
                align-self: center;
                justify-self: center;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            
            }

            @include desktop {
                margin: 0.9rem 0rem 0rem -11rem;
                display: flex;
                flex-direction: row;
                justify-items: center;
            }
        
        
            &__block {
                @include tablet {
                    width: 30%;
                }
            }
        }
        
        &__instagram {
            background-repeat: no-repeat;
            background-position: center;
            width: 1.5rem;
            height: 1.5rem;

            @include desktop {
                // margin: 0rem;
                margin-right: -3rem;
                padding: 0rem;
                width: 1.09rem;
                height: 1.09rem;
            }
        }
        
        &__facebook {
            background-image: url(/assets/Icons/SVG/Icon-facebook.svg);
            background-repeat: no-repeat;
            background-position: center;
            width: 1.5rem;
            height: 1.5rem;
            
            @include desktop {
                margin: 0rem;
                padding: 0rem;
                width: 0.7rem;
                height: 1.5rem;
            }
        }
        
        &__twitter {
            background-image: url(/assets/Icons/SVG/Icon-twitter.svg);
            background-repeat: no-repeat;
            background-position: center;
            width: 1.5rem;
            height: 1.5rem;
            
            @include desktop {
                margin: 0rem;
                padding: 0rem;
                size: 15%;

            }
        }
    
        &__companyLogo {
            display: flex;
            justify-self: self-end;
            margin: 0rem 0rem 0rem 8.2rem;
            padding: 0rem;

            @include mobile {

                display: none;
            }

            @include tablet {
                display: flex;
            }

            @include desktop {
                display: flex;
                justify-self: self-end;
                margin-left: 20rem;
            }
        }
    }





}


.footerInformationSection {
    margin: 1rem;
    font-size: 0.8rem;
    line-height: 1.2rem;

    @include mobile {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        font-size: 0.8rem;
        line-height: 1.5rem;
        margin: 0rem 0rem 1.5rem 0.9rem;
    }

    @include tablet {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        font-size: 0.8rem;
        line-height: 1.8rem;
        margin: 0rem 0rem 1rem 1.5rem;
    }


    @include desktop {
        margin: 0rem 0rem 0rem 13.2rem;
        font-size: 0.7rem;
    }
}

.__block {
    @include tablet {
        width: 32.1%;
        margin: 0rem 0rem 0rem 0.7rem;
    }

    @include desktop {
        width: 20%;
    }
}

.footerInformationSectionName {
    font-size: 1.2rem;
    font-weight: bold;

    @include mobile {
        font-size: 1.1rem;
        margin: 1rem 0rem 0rem 0rem;
    }

}

.footerInformationSectionCompany {
    font-size: 1.2rem;
    font-weight: bold;

    @include mobile {
        font-size: 1.1rem;
    }

   
}

.footerInformationSectionCompanyAddress {

    @include mobile {
        width: 50%;
        margin: 1rem 0rem 1rem;
        font-size: 0.98rem;
    }

    @include tablet {
        width: 70%;
        margin: 1rem 0rem 1rem;
        font-size: 1.1rem;
        line-height: 1.4rem;
    }
}

.footerCopyright {
    margin: 1rem;

    @include mobile {
        font-size: 0.8rem;
        width: 65%;
        margin: 0rem 0.9rem 2rem;
    }

    @include tablet {
        justify-self: flex-end;
        align-self: start;
        margin: 1rem 20rem 2.5rem 1.5rem;
        width: 100%;
        font-size: 0.9rem;
    }

    @include desktop {
        margin-top: 1.5rem;
        margin-left: 9.7rem;
        font-size: 0.7rem;
    }
}